:root {
  --sl-color-accent-low: hsl(190, 54%, 20%);
  --sl-color-accent: hsl(190, 80%, 50%);
  --sl-color-accent-high: hsl(190, 80%, 80%);
  --sl-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', monospace;
  color-scheme: dark;
}
